extends ../layout

append css
    link(href="/css/blog.css", rel="stylesheet")

block main
    block header
        .blog-masthead
            .container
                nav.blog-nav
                    if pageName === '/'
                        a.blog-nav-item.active(href='/') 首页
                    else
                        a.blog-nav-item(href='/') 首页

                    if pageName === '/about'
                        a.blog-nav-item.active(href='/about') 关于
                    else
                        a.blog-nav-item(href='/about') 关于

                    if pageName === '/contact'
                        a.blog-nav-item.active(href='/contact') 联系
                    else
                        a.blog-nav-item(href='/contact') 联系
                    
                    
    .container
        .row
            .col-sm-8.blog-main
                block content
            .col-sm-3.col-sm-offset-1.blog-sidebar
                .sidebar-module
                    h4 Catagories
                    ol.list-unstyled
                    li
                        a(href='#') March 2014
                    li
                        a(href='#') February 2014
                    li
                        a(href='#') January 2014
                    li
                        a(href='#') December 2013
                    li
                        a(href='#') November 2013
                    li
                        a(href='#') October 2013
                    li
                        a(href='#') September 2013
                    li
                        a(href='#') August 2013
                    li
                        a(href='#') July 2013
                    li
                        a(href='#') June 2013
                    li
                        a(href='#') May 2013
                    li
                        a(href='#') April 2013
                .sidebar-module
                    h4 友情链接
                    ol.list-unstyled
                    li
                        a(href='#') GitHub
                    li
                        a(href='#') Twitter
                    li
                        a(href='#') Facebook
    block footer
        footer.blog-footer
            p
                | Blog template built for 
                a(href='http://getbootstrap.com') Bootstrap
                |  by 
                a(href='https://twitter.com/mdo') @mdo
                | .
            p
                a(href='#') Back to top
